{% load static %}
<html>
<head>
    <title>TaskManager</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-sm-6 pull-right">
            <form action="{% url 'taskmanager:search' %}">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div class="col-1">
            <h1><a href="{% url 'taskmanager:main' %}">TaskManager</a></h1>
        </div>
    </div>

</div>
<div class="content container" style="float: none;">
    <div style="float: none">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
<script>
    function goBack() {
        window.history.back();
        location.reload();
    }
</script>