{% extends 'taskmanager/base.html' %}

{% block content %}
    <div class="row form-group">
    <div  class="col-1">
        <h1>Tasks:</h1>
    </div>
        <a href="{% url 'taskmanager:addtask' %}" class="col-12">
            <button type="button" class="btn btn-default save">Add</button>
        </a>
    </div>
    {% if error %}
        <div class="alert alert-warning">Something went wrong</div>
    {% endif %}
    {% if tasks|length == 0 %}
        <p>No tasks for you!</p>
    {% else %}
        <div class="list-group">
            {% for task in tasks %}
                <a href="{% url 'taskmanager:task' task.id %}"
                   class="list-group-item list-group-item-action">{{ task.title }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row form-group">
    <div  class="col-1">
        <h1>Groups:</h1>
    </div>
        <a href="{% url 'taskmanager:addgroup' %}" class="col-12">
            <button type="button" class="btn btn-default save">Add</button>
        </a>
    </div>
    {% if groups|length == 0 %}
        <p>You dont belong to any group</p>
    {% else %}
        <div class="list-group">
            {% for group in groups %}
                <a href="{% url 'taskmanager:group' group.id %}"
                   class="list-group-item list-group-item-action">{{ group.name }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <a href={% url 'taskmanager:logout' %}>
        <button type="button" class="btn btn-primary">Logout({{ user.name }})</button>
    </a>
{% endblock content %}